<div class="container">
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div class="msg_history">


                    <ng-container *ngFor="let message of pageMessages">
                        <div class="incoming_msg" *ngIf="message.type == 'received'">
                            <div class="incoming_msg_img"> <img src="assets/img/user-profile.png" alt="sunil">
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{message.from}}</p>
                                    <p>{{message.message}}
                                    </p>
                                    <span class="time_date"> {{message.createdAt | date:'short'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg" *ngIf="message.type == 'sent'">
                            <div class="sent_msg">
                                <p>{{message.message}}</p>
                                <span class="time_date">{{message?.createdAt | date:'short'}}</span>
                            </div>
                        </div>
                    </ng-container>



                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input [(ngModel)]="userMessage" type="text" class="write_msg" placeholder="Ecrire un message" (keyup.enter)="sendMessage()" />
                        <button class="msg_send_btn" type="button" (click)="sendMessage()"></button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
