<div class="login-page">
    <mat-toolbar>
        <span>Bienvenue sur l'application XXXXX</span>
    </mat-toolbar>
    <mat-card class="auth-card">
        <mat-card-content>
            <form class="my-form">
                <mat-form-field class="full-width">
                    <mat-label>Identifiant</mat-label>
                    <input [formControl]="loginForm.controls.login" matInput placeholder="Identifiant" autocomplete="off">
                    <mat-error *ngIf="loginForm.controls.login.hasError('pattern')">
                        Format d'email incorrect
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.login.hasError('required')">
                        Ce champs est obligatoire
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Mot de passe</mat-label>
                    <input (keypress)="keyPress($event)" [formControl]="loginForm.controls.password" type="password" matInput placeholder="Mot de passe">
                    <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                        Ce champs est obligatoire
                    </mat-error>

                </mat-form-field>

                <div class="error" *ngIf="hasError">Identifiant ou mot de passe incorrecte</div>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="onLoginClick()" color="primary">Connexion</button>
        </mat-card-actions>
    </mat-card>
</div>