<h3 class="title">{{totalPoints}} POINTS</h3>
<h4 class="title">{{secondsToString(quizTime)}}</h4>
<div class="quizz-container card" *ngIf="!quizzEnded">
    <div class="quizz-progress-bar">
        <div class="quizz-progress" [ngStyle]="{'width': getCurrentProgress()}"></div>
    </div>

    <div class="counter">{{currentQuestionIndex + 1 }} / {{quizzQuestions.length}}</div>

    <div class="question-container" *ngFor="let questionItem of quizzQuestions; index as i;" [hidden]="i != currentQuestionIndex">
        <h2>{{questionItem.question}} </h2>

        <div class="row">
            <div class="col">
                <app-quiz-button (answerClicked)="nextQuestion(questionItem.answers[0])" [label]="questionItem.answers[0].answer"></app-quiz-button>
            </div>

            <div class="col">
                <app-quiz-button (answerClicked)="nextQuestion(questionItem.answers[1])" [label]="questionItem.answers[1].answer"></app-quiz-button>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <app-quiz-button (answerClicked)="nextQuestion(questionItem.answers[2])" [label]="questionItem.answers[2].answer"></app-quiz-button>
            </div>

            <div class="col">
                <app-quiz-button (answerClicked)="nextQuestion(questionItem.answers[3])" [label]="questionItem.answers[3].answer"></app-quiz-button>
            </div>

        </div>


    </div>


</div>


<div class="quizz-result" *ngIf="quizzEnded">
    <h2 class="title">Félicitations !!</h2>
    <img src="assets/img/clapping.png">
    <p>Vous avez eu {{totalPoints}} points ! </p>
</div>