<h3 class="title">{{totalPoints}} POINTS</h3>
<h4 class="title">{{secondsToString(quizTime)}}</h4>
<div class="quizz-container card" *ngIf="!quizzEnded">
    <div class="quizz-progress-bar">
        <div class="quizz-progress" [ngStyle]="{'width': getCurrentProgress()}"></div>
    </div>

    <div class="counter">{{currentQuestionIndex + 1 }} / {{quizzQuestions.length}}</div>

    <div class="question-container" *ngFor="let questionItem of quizzQuestions; index as i;" [hidden]="i != currentQuestionIndex">
        <h2>{{questionItem.question}} </h2>

        <div class="row">
            <ng-container *ngFor="let answerItem of questionItem.answers; index as answerIndex;">
                <div class="col">
                    <app-quiz-button (answerClicked)="nextQuestion(answerItem)" [label]="answerItem.answer"></app-quiz-button>
                </div>
                <div class="w-100" *ngIf="answerIndex % 2 != 0"></div>
            </ng-container>
        </div>
    </div>

    <ng-container *ngFor="let questionItem of quizzQuestions; index as i;">
        <!--
       <app-quizz-question [questionItem]="questionItem" (onAnswer)="nextQuestion($event)"></app-quizz-question>

     -->
    </ng-container>

</div>


<div class="quizz-result" *ngIf="quizzEnded">
    <h2 class="title">Félicitations !!</h2>
    <img src="assets/img/clapping.png">
    <p>Vous avez eu {{totalPoints}} points ! </p>
</div>