<h3 class="title">{{totalPoints}} POINTS</h3>
<h4 class="title">{{secondsToString(quizTime)}}</h4>
<div class="quizz-container card" *ngIf="!quizzEnded">
    <div class="quizz-progress-bar">
        <div class="quizz-progress" [ngStyle]="{'width': getCurrentProgress()}"></div>
    </div>

    <div class="counter">{{currentQuestionIndex + 1 }} / {{quizzQuestions.length}}</div>

    <app-quizz-question *ngFor="let questionItem of quizzQuestions; index as i;" [questionItem]="questionItem" (onAnswer)="nextQuestion($event)" [hidden]="i != currentQuestionIndex"></app-quizz-question>

</div>


<div class="quizz-result" *ngIf="quizzEnded">
    <h2 class="title">Félicitations !!</h2>
    <img src="assets/img/clapping.png">
    <p>Vous avez eu {{totalPoints}} points ! </p>
</div>